@media screen and (min-width: 768px) {
    /* main */
    .photos{
        flex-direction: row;
    }

    .photo i{
        font-size: 50px;
    }

    .card-title{
        font-size: 20px;
    }

    .title h1{
        font-size: 40px;
    }

    .main{
        margin-top: 60px;
    }

    .photo{
        width: 200px;
    }

    .photo:hover{
        transform: translateY(-30px);
    }

    /* footer */
    .footer__container {
        padding: 20px;
    }

    .footer__header-container {
        font-size: 15px;
    }

    .icon {
        font-size: 30px;
    }

    .icon-text {
        margin-left: 10px;
        font-size: 15px;
    }

    .footer-additionalText__container {
        font-size: 15px;
    }

    .rights {
        font-size: 15px;
    }

    /* modal with image */
    .modal-picture{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .image-modal{
        grid-column-end: span 2;
        grid-row-start: span 2;
    }

    .fields{
        grid-row-start: span 3;
    }

    .link-to-copy{
        grid-column-end: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        text-align: center;
    }

    .param-placeholder{
        height: 30px;
    }

    input.param-placeholder{
        width: 150px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .param-text{
        font-size: 18px;
    }

    .dummy-modal-container .param-text{
        display: block;
    }

    .modal-closer{
        font-size: 30px;
    }

    /* donation modal */
    .modal-donations-body{
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    /* main */
    .title h1{
        font-size: 70px;
    }

    .main{
        margin-top: 120px;
        margin-bottom: 200px;
    }

    .photos{
        margin-top: 40px;
    }

    .card-title{
        font-size: 30px;
    }

    .photo {
        width: 350px;
        height: 250px;
        padding: 20px;
    }

    .photo i{
        font-size: 80px;
    }

    .card-subtitle{
        font-size: 20px;
    }

    /* footer */

    .footer__container {
        padding: 40px 100px;
        gap: 10px;
    }

    .footer__header-container {
        font-size: 25px;
    }

    .icon {
        font-size: 45px;
    }

    .icon-text {
        margin-left: 20px;
        font-size: 25px;
    }

    .footer-additionalText__container {
        font-size: 25px;
    }

    .rights {
        font-size: 25px;
    }

    /* modal with image */
    .param-placeholder{
        width: 200px !important;
        height: 35px;
        font-size: 21px !important; 
    }

    .param-text{
        font-size: 26px;
    }

    .save-picture{
        width: 130px;
        height: 40px;
        font-size: 20px;
        bottom: 10px;
        right: 20px;
    }

    .link-to-copy{
        font-size: 25px;
    }

    .fields{
        padding: 10px 20px;
    }

    .modal-closer{
        font-size: 50px;
        top: 5px;
        right: 20px;
    }

    /* donation modal */
    .modal-donations-body{
        font-size: 20px;
    }
}