/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {
    transition: 0.3s;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* main section */
.main {
    text-align: center;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 70vh;
}

.title {
    font-size: 1.25rem;
    padding: 10px;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.photo {
    border: 2px rgb(206, 206, 206) solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.photo:hover {
    transform: translateY(-10px);
}

.photo i {
    font-size: 60px;
    color: #555;
}

/* modal */
.modal-donations{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.modal-donations-body{
    background-color: #fff;
    z-index: 4;
    gap: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    flex-direction: column;
}

/* footer */
.footer {
    display: flex;
    width: 100%;
}

.footer__container {
    display: flex;
    flex-direction: column;
    border-top: 2px rgb(206, 206, 206) solid;
    padding: 10px;
    width: 100%;
    gap: 5px;
}

.footer__header-container {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.icon-text__container {
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    transition: 0.3s;
    font-size: 18px;
    color: #555;
}

.icon-text {
    transition: 0.3s;
    margin-left: 5px;
    font-size: 12px;
}

.line {
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: rgb(206, 206, 206);
}

.footer-additionalText__container {
    margin-top: 10px;
    font-size: 13px;
}

.rights {
    font-size: 12px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.icon-text {
    transition: .3s;
}

.icon-text:hover {
    color: rgb(143, 143, 143);
}

.theme {
    width: fit-content;
    padding: 5px;
    font-size: 24px;
    transition: 0.3s;
    position: absolute;
    left: 20px;
    top: 20px;
}

.theme-button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.theme-label {
    transition: 0.3s;
    font-size: 30px;
}

.dark-background {
    background-color: #555;
}

.dark-text {
    color: #fff;
}

i.dark-icon {
    color: #fff;
}

button .dark-text:hover {
    color: rgb(255, 255, 255);
}

a .dark-text:hover {
    color: rgb(143, 143, 143);
}

/* modals with pictures */
.modal-picture-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-picture {
    width: 85%;
    height: 85%;
    background-color: #fff;
    z-index: 4;
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 5px;
    padding: 10px;
    border: #555 3px solid;
}

.modal-block {
    border: #555 2px solid;
}

.image-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-position: center;
    /* background-size: contain; */
    background-repeat: no-repeat;
}

/* .lorem-picsum {
    background-image: url(https://picsum.photos/200/300.jpg);
} */

/* .dummy-image {
    background-image: url(https://dummyimage.com/200x300/000/fff.png?text=Text);
} */

.link-to-copy {
    display: none;
    position: relative;
}

.fields {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    position: relative;
}

.param-text {
    font-size: 16px;
}

input.param-placeholder[type="text"] {
    width: 140px;
    font-size: 16px;
    padding-left: 5px;
}

.param-placeholder {
    height: 20px;
    outline: none;
    border: #888 2px solid;
    border-radius: 5px;
}

.save-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: #555;
    color: #fff;
    border: none;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.save-picture:hover {
    opacity: 0.7;
}

.copy-clipboard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #fff;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    border: #555 solid 2px;
    color: #555;
}

.copy-clipboard:hover {
    background-color: #888;
    color: #fff;
    border-color: #888;
}

.dummy-modal-container .param-text {
    display: none;
}

.param-text.color-param{
    display: block;
}

.picsum-modal-container,
.dummy-modal-container {
    display: none;
}

.modal-closer {
    position: absolute;
    font-size: 25px;
    top: 0;
    right: 10px;
    color: #fff;
    cursor: pointer;
}

.DummyImage-link,
.LoremPicsum-link {
    text-decoration: underline;
}

a.dark-text {
    color: #fff;
}

input[type="range"]{
    padding: 0 !important;
}

.copy-clipboard:active {
    background-color: rgb(17, 17, 17);
}

/* helper classes */
.none{
    display: none;
}

.flex{
    display: flex;
}